name: GitHub CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

# No permissions are required for this workflow
permissions: {}

jobs:
  test:
    name: General checks, tests and build
    runs-on: ubuntu-latest
    steps:

    - uses: actions/checkout@v6

    - name: Use Node.js LTS 20.19.5
      uses: actions/setup-node@v6
      with:
        node-version: 24.11.1

    - name: Install dependencies
      run: npm ci --engine-strict # --engine-strict is used to fail-fast if deps require node versions unsupported by the repo

    - name: Perform checks and tests
      run: npm test

    - name: Perform preload build
      run: npm run build

    - name: Perform self-contained build
      run: npm run build-self-contained
